.filter-container {
  border: 1px solid black;
  padding: 10px;
  width: 100%;
}

.startview .side-bar  .filter-container {
  width: 300px;
  min-height: 150px;
  display: inline-block;
  float: left;
  margin: 10px;
}

.mapview .side-bar .filter-container {
  width: 200px;
}

.filter-enabled {
  background: green;
}

.filter-disabled {
  background: grey;
}