html, body {
  height: 100%;
}

#top-filters {
  background: #909090;
}

.startview .top-filters {
  height: 100%;
  width: 100%;
  z-index: 1000;
}

.mapview .top-filters {
  width: 100%;
  height: 50px;
}

.starview #map-canvas{
  height:0px;
}

#filter-div {
  height:0px;
  overflow: hidden;
}



#side-bar {
  background: #9A9A9A;
}

.startview .side-bar {
  /*height: 100%;
  width: 100%;
  z-index:1000;*/
  display: none;
}
#start {
  height:100%;
  margin-bottom: 0px;
}
#mid{
  height:30%;
  transition:1.5s;
}
#finish {
  height:50px;
  transition:1.5s;
  padding: 0px;
  margin-bottom: 0px;
  background-image: none;
  background-color: #77c043;
}

.medview #side-bar-tabs {
  display:none;
}
.mapview #side-bar-tabs {
  background-color: #77c043;
}
.medview #results {
  display: none;
}

.mapview .side-bar {
  height: 100%;
  width: 400px;
  float: right;
  padding: 0;
}

.startview #explanation {
  display: none;
}
.mapview #explanation {
  display: none;
}

.startview #go-to-mapview {
  display: none;
}
.medview #go-to-mapview {

}
.mapview #go-to-mapview {
  display:none;
}

#side-bar-tabs {
  float: none;
}

.startview .side-bar-tabs {
  display: none;
}

.startview .results {
  display: none;
}

#map-canvas {
  float: left;
  width: 100%;
  height: 100%;
}

#location-search {
  width: 100%;
  top: 0px;
  right: 0px;
  transform-origin: 100% 0;
  -webkit-transition-property: min-height, width, top, right;
  transition-property: min-height, width, top, right;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
.medview #side-bar{
  display:none;
}

#searchbox-large {
  width: 80%;
  height: 180px;
  z-index: 500;
  top:25%;
  -webkit-transform: translate3d(0,3em,0);
  transform: translate3d(0,3em,0);
  position: absolute;
  -webkit-transition-property: width, height, -webkit-transform;
  transition-property: width, height, transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);

}

#searchbox-mid {
  width: 80%;
  height: 180px;
  z-index: 500;
  top:-35px;
  -webkit-transform: translate3d(0,3em,0);
  transform: translate3d(0,3em,0);
  position: absolute;
  -webkit-transition-property: width, height, -webkit-transform;
  transition-property: width, height, transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition:1s;
}
#searchbox-small {
  width: 80%;
  height: 50%;
  z-index: 500;

  
  position: absolute;
  
}

#searching-large{
  width:95%;
  font-size: 7em;
    box-sizing: border-box;
    -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  font-family: 'Raleway', Arial, sans-serif;
  z-index:500;

}

#searching-mid{
  width:95%;
  height:50%;
  font-size: 3.5em;
    box-sizing: border-box;
    -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  font-family: 'Raleway', Arial, sans-serif;
  z-index:500;
  transition:1s;

}

#searching-small{
  width:95%;
  font-size: 1em;
  height:100%;
    box-sizing: border-box;
    -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  font-family: 'Raleway', Arial, sans-serif;
  z-index:500;
  transition:1s;

}




#search-submit-large{
  position: absolute;
  width: 100px;
  height: 100px;
  overflow: hidden;
  right: 10%;
  top: 23%;
  background: transparent url(img/rightarrow.png) no-repeat center center;
  background-size: 100%;
  border: none;
  transform-origin: 50% 50%;
  opacity: .7;
  z-index:1000;
  outline:none;
  
}

#search-submit-large:hover {
  opacity:1;
  cursor: pointer;
}

#search-submit-mid{
  position: absolute;
  width: 50px;
  height: 50px;
  overflow: hidden;
  right: 10%;
  top: 10%;
  background: transparent url(img/rightarrow.png) no-repeat center center;
  background-size: 100%;
  border: none;
  transform-origin: 50% 50%;
  opacity: .7;
  z-index:1000;
  outline:none;
  
}

#search-submit-mid:hover {
  opacity:1;
  cursor: pointer;
}
#search-submit-small{
  position: absolute;
  width: 15px;
  height: 15px;
  overflow: hidden;
  right: 10%;
  top: 25%;
  background: transparent url(img/magnifier.svg) no-repeat center center;
  background-size: 100%;
  border: none;
  transform-origin: 50% 50%;
  opacity: .7;
  z-index:1000;
  text-overflow: ellipsis;
  
}

#search-submit-small:hover {
  opacity:1;
  cursor: pointer;
}

.pac-container .pac-item {
  line-height:100px;
  font-family:'Raleway';
  font-size: 2em;
}

.pac-item .pac-item-query {
  font-size: 2em;
  margin-right: 15px;
}

.pac-item .pac-item-query .pac-matched {
  font-weight: 100;
}

.hdpi .pac-icon {
  background-position: 0;
  width:30px;
  height:35px;
  margin-top:40px;
  background-image: url("img/marker.png")
}

#sortable-filters {
  overflow: scroll;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#sortable-filters li {
  padding: 0px;
  height:150px;
}

.ui-tabs .ui-tabs-panel {
  padding: 0px;
}

@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('websymbols/websymbols-regular-webfont.woff') format('woff'),
        url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
        url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.ca-menu{
    padding:0;
    margin:20px auto;
    width: 500px;
}
.ca-menu li{
    width: 390px;
    margin-left: 5px;
    margin-right: 5px;
    height: 80px;
    overflow: hidden;
    position: relative;
    display: block;
    background: #fff;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-bottom: 4px;
    -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.ca-menu li:last-child{
    margin-bottom: 0px;
}
.ca-menu li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}

.ca-icon{
    font-family: 'WebSymbolsRegular', cursive;
    font-size: 40px;
    color: #333;
    text-shadow: 0px 0px 1px #333;
    line-height: 90px;
    position: absolute;
    width: 90px;
    left: 20px;
    text-align: center;
    -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear; 
}
.ca-content{
    position: absolute;
    left: 120px;
    width: 250px;
    height: 60px;
    top: 20px;
    font-family:'Raleway';
}
.ca-main{
    font-size: 1.5em;
    -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear; 
}
.ca-sub{
    font-size: 14px;
    color: #666;
}
.ca-menu li:hover{
    background-color: #000;
}
.ca-menu li:hover .ca-icon{
    color: #f900b0;
    font-size: 120px;
    opacity: 0.2;
    left: -20px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}
.ca-menu li:hover .ca-main{
    color: #f900b0;
    opacity: 0.8;
}
.ca-menu li:hover .ca-sub{
    color: #fff;
    opacity: 0.8;
}







*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ac-custom {
  padding: 0 3em;
  
  margin: 0 auto;
}

.ac-custom h2 {
  font-size: 5em;
  font-weight: 300;
  padding: .5em 0 0.5em;
  margin: 0 0 30px;
}

.ac-custom ul,
.ac-custom ol {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  
}

.ac-custom li {
  margin: 0 auto;
  padding: 2em 0;
  position: relative;
}

.ac-custom label {
  display: inline-block;
  position: relative;
  font-size: 2em;
  padding: 0 0 0 80px;
  vertical-align: top;
  color: rgba(0,0,0,0.2);
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"],
.ac-custom label::before {
  width: 50px;
  height: 50px;
  top: 50%;
  left: 0;
  margin-top: -25px;
  position: absolute;
  cursor: pointer;
}

.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"] {
  opacity: 0;
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  z-index: 100;
}

.ac-custom label::before {
  content: '';
  border: 4px solid #fff;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.ac-radio label::before {
  border-radius: 50%;
}

.ac-custom input[type="checkbox"]:checked + label,
.ac-custom input[type="radio"]:checked + label {
  color: #fff;
} 

.ac-custom input[type="checkbox"]:checked + label::before,
.ac-custom input[type="radio"]:checked + label::before {
  opacity: 0.8;
}

/* General SVG and path styles */

.ac-custom svg {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  left: 5px;
  pointer-events: none;
}

.ac-custom svg path {
  stroke: #fdfcd3;
  stroke-width: 13px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

/* Specific input, SVG and path styles */

/* Circle */
.ac-circle input[type="checkbox"],
.ac-circle input[type="radio"],
.ac-circle label::before {
  width: 30px;
  height: 30px;
  margin-top: -15px;
  left: 10px;
  position: absolute;
}

.ac-circle label::before {
  background-color: #fff;
  border: none;
}

.ac-circle svg {
  width: 70px;
  height: 70px;
  margin-top: -35px;
  left: -10px;
}

.ac-circle svg path {
  stroke-width: 5px;
} 

/* Box Fill */
.ac-boxfill svg path {
  stroke-width: 8px;
} 

/* Swirl */
.ac-swirl svg path {
  stroke-width: 8px;
}

/* List */
.ac-list ol {
  list-style: decimal;
  list-style-position: inside;
}

.ac-list ol li {
  font-size: 2em;
  padding: 1em 1em 0 2em;
  text-indent: -40px;
}

.ac-list ol li label {
  font-size: 1em;
  text-indent: 0;
  padding-left: 30px;
}

.ac-list label::before {
  display: none;
}

.ac-list svg {
  width: 100%;
  height: 80px;
  left: 0;
  top: 1.2em;
  margin-top: 0px;
}

.ac-list svg path {
  stroke-width: 4px;
}

/* Media Queries */
@media screen and (max-width: 50em) {
  section {
    font-size: 80%;
  }
}