html, body {
  height: 100%;
}

#top-filters {
  background: #909090;
}

.startview .top-filters {
  height: 100%;
  width: 100%;
  z-index: 1000;
}

.mapview .top-filters {
  width: 100%;
  height: 50px;
}

#side-bar {
  background: #9A9A9A;
}

.startview .side-bar {
  height: 100%;
  width: 100%;
  z-index:1000;
}

.mapview .side-bar {
  height: 100%;
  width: 240px;
  float: right;
  padding: 0;
}

#side-bar-tabs {
  float: none;
}

.startview .side-bar-tabs {
  display: none;
}

.startview .results {
  display: none;
}

#map-canvas {
  float: left;
  width: 100%;
  height: 100%;
}

#location-search {
  width: 100%;
  top: 0px;
  right: 0px;
  transform-origin: 100% 0;
  -webkit-transition-property: min-height, width, top, right;
  transition-property: min-height, width, top, right;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

#searchbox {
  width: 80%;
  height: 160px;
  z-index: 500;
  -webkit-transform: translate3d(0,3em,0);
  transform: translate3d(0,3em,0);
  position: absolute;
  -webkit-transition-property: width, height, -webkit-transform;
  transition-property: width, height, transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

#searching{
  width:95%;
  font-size: 7em;
    box-sizing: border-box;
    -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  font-family: 'Raleway', Arial, sans-serif;
  z-index:500;

}


#search-submit{
  position: absolute;
  width: 80px;
  height: 80px;
  overflow: hidden;
  right: 10%;
  top: 23%;
  background: transparent url(img/magnifier.svg) no-repeat center center;
  background-size: 100%;
  border: none;
  transform-origin: 50% 50%;
  opacity: .7;
  z-index:1000;
  
}
#search-submit:mouseover{
  opacity:1;
  cursor: pointer;
}
#search-submit:hover {
  opacity:1;
  cursor: pointer;
}

.pac-container .pac-item {
  line-height:100px;
  font-family:'Raleway';
  font-size: 2em;
}

.pac-item .pac-item-query {
  font-size: 2em;
  margin-right: 15px;
}

.pac-item .pac-item-query .pac-matched {
  font-weight: 100;
}

.hdpi .pac-icon {
  background-position: 0;
  width:30px;
  height:35px;
  margin-top:40px;
  background-image: url("img/marker.png")
}